.slider {
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  perspective: 1000px;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: slideAnimation 30s infinite linear;
}

@keyframes slideAnimation {
  0% {
    transform: translateZ(-100px);
  }
  100% {
    transform: translateZ(-100px) translateX(-200%);
  }
}
