bpdy {
  background-color: black;
}

.slider {
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  perspective: 1000px;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('https://t3.ftcdn.net/jpg/03/33/69/46/360_F_333694658_2bORPwsHeYW548B7OlYD4xS6wUYBOjAH.jpg');
  background-size: cover;
  background-position: center center;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: slideAnimation 30s infinite linear;
}

.image1 {
    background-image: url('https://t3.ftcdn.net/jpg/03/33/69/46/360_F_333694658_2bORPwsHeYW548B7OlYD4xS6wUYBOjAH.jpg');
}

.image2 {
    background-image: url('your-image-url');
}

.image3 {
  background-image: url('your-image-url');
}
@keyframes slideAnimation {
  0% {
    transform: translateZ(-100px);
  }
  100% {
    transform: translateZ(-100px) translateX(-200%);
  }
}
