#mission-statement {
  height: 1.5em;
  border-right: .15em solid orange;
  animation: typing 1s steps(15) infinite;
  font-size: 24px;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
