/* Basic layout styles */
body {
	font-family: "Montserrat", sans-serif;
	background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
	color: #fff;
	margin: 0;
	padding: 0;
}

header {
	background-color: #050514;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: 	#cc66cc;
}

main {
	padding: 20px;
}

footer {
	background-color: #050514;
	padding: 20px;
	text-align: center;
}

/* Cyberpunk styles */
body {
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "VT323", monospace;
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}

h2 {
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
}

h3 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
	font-size: 18px;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #f00;
}

/* Center text */
.text-center {
	text-align: center;
}


/* Page layout styles */
main {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

h2 {
	text-align: center;
}


